$color-label: #58535e;
$color-border: #ced4da;
$bg-input: #fff;
$color-text: #212529;
$color-remove: #e95855;
$color-progress: #2f23d6;

.container-drop-file {
  display: block;

  .default-label {
    font-size: 14px;
    width: 100%;
    min-height: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    color: $color-label;
    margin-bottom: 4px;
  }

  .container-drop {
    position: relative;
    width: 100%;
    height: 240px;
    padding: 18px 16px;;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dashed $color-border;
    background: $bg-input;
    border-radius: 4px;

    .hidden-input {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      cursor: pointer;
    }

    .file-icon {
      font-size: 38px;
      font-weight: 400;
    }

    .title-box {
      color: $color-text;
      font-size: 22px;
      margin-bottom: 10px;
    }

    .text-description {
      color: $color-label;
      font-size: 14px;
      text-align: center;
      font-weight: 400;
      margin: 0 0 10px;
    }

    .btn-upload {
      max-width: 230px;
      width: 100%;
      padding: 20px 14px;
      border-radius: 6px;
      border: 1px solid $color-border;
      position: relative;

      span {
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        color: $color-label;
        text-align: center;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .content-info-drop {
      margin-top: 10px;

      p {
        color: $color-label;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        position: relative;
        margin: 0;

        &:first-of-type {
          &:after, &:before {
            content: "";
            position: absolute;
            height: 1px;
            width: 60px;
            top: 11.5px;
            background: $color-border;
          }

          &:after {
            left: 70px;
          }

          &:before {
            right: 70px;
          }
        }
      }
    }
  }
}

.container-files-upload {
  margin-top: 20px;

  .single-file {
    display: flex;
    padding: 0.8rem;
    justify-content: space-between;
    align-items: center;
    border: 1px dashed $color-border;
    background: transparent;
    margin-bottom: 1rem;
    flex-grow: 1;
    border-radius: 4px;

    .delete {
      display: flex;
      margin-left: 0.8rem;
      margin-right: 0.4rem;
      cursor: pointer;
      align-self: flex-end;

      i {
        font-size: 22px;
        color: $color-remove;
      }
    }

    .file-icon {
      width: 50px;

      i {
        font-size: 30px;
        color: $color-text;
      }
    }

    .name {
      color: $color-label;
      font-size: 14px;
      font-weight: 500;
      margin: 0 0 8px;

      .size {
        font-size: 12px;
        font-weight: 500;
        color: $color-label;
      }
    }


    .info {
      width: 100%;
      position: relative;
      top: 3px;
    }

    .progress-cont {
      height: 7px;
      width: 100%;
      border-radius: 4px;
      background-color: #d0d0d0;
      position: relative;
      top: -2px;

      .progress {
        width: 0;
        height: 100%;
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        border-radius: 4px;
        background-color: $color-progress;
        transition: 0.5s all;
      }
    }
  }

  .container-btn {
    display: block;
    text-align: right;

    .send-files {
      display: inline-block;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      color: #fff;
      border-radius: 6px;
      border: 1px solid $color-progress;
      background: $color-progress;
      font-size: 14px;
      font-weight: 500;
      height: 38px;
      line-height: 36px;
      min-width: 140px;
      padding: 0 10px;
    }
  }
}

/* Shake animation */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
