<section class="col-12 container-components">
  <div class="row">
    <div class="col-12">
      <h1>Exemplos de componentes.</h1>
      <hr>
    </div>

    <div class="col-12 offset-bottom-20">
      <app-input-example></app-input-example>

      <app-table-example></app-table-example>

      <app-empty-box-example></app-empty-box-example>

      <app-drop-file-example></app-drop-file-example>

      <app-loading-button-example></app-loading-button-example>

      <app-skeleton-loading-example></app-skeleton-loading-example>
    </div>
  </div>
</section>
